<!doctype html>
<html>
<head>
	<title>HW Week 10</title>
	<h1>Time to get fit!</h1>
<link rel="stylesheet" type="text/css" href="/css/style.css">	
</head>
<body>
<fieldset>
	{{{body}}}
</fieldset>
</body>

	<script type="text/javascript" src="/js/script.js"></script>
</html>
